body{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#note-it-down{
    width: 95vw;
    height: 85vh;
}

.nid-header{
    display:flex;
}

.nid-actions{
    margin-left: auto;
}