body{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: whitesmoke;
    margin: 0;
}

#nid-note-container{
    width: 100vw;
    height: 95vh;
}

.nid-header, #nid-notes{
    display:flex;
}

.nid-header{
    padding: 1% 0.5%;
    border-bottom: solid 0.5px #ccc;
}

.nid-actions{
    margin-left: auto;
}

#nid-sidebar{
    flex-basis: 15%;
    font-size: 0.9em;
    height: 95vh;
    border-right: solid 0.5px #ccc;
}

.notes-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.notes-list li{
    padding: 4% 4% 4% 1%;
    border-bottom: solid 0.5px #ccc;
    cursor: pointer;
}
    .notes-list li a{
        text-decoration: none;
        color: inherit;
    }

    .notes-list li.selected-note{
        background-color: gold;
    }

.search-container{
    padding: 4% 4% 4% 2%;
    text-align: center;
    }
    .search-container #search-box{
        width:99%;
        font-size: 0.9em;
    }
